<!doctype html>
<html lang="en">
<head>
    <title>Welcome to the {{ data.word }}</title>
    <style type="text/css">
        body {
            color: #292929;
            font: 90% Roboto, Arial, sans-serif;
            font-weight: 300;
        }
        div#content {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <h1>Welcome to the {{ data.word }}</h1>
    </nav>
    <div id="content">
        <div id="word-table">
            <table>
                {% for row in data.rows %}
                <tr>
                    {% for c in row %}
                    <td><a href='/thedatabase?word={{ c[1] }}'>{{ c[0] }}</a></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="word-form">
            <form action="thedatabase">
            <label for="word">or maybe enter a word</label>
            <input type="string" name="word" value="" required>
            <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>